/* Feuille de style */

/* Import de font */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


* {
    box-sizing: border-box;
    font-family: 'Lato';
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: #ffffff;
}

h1 {
    text-align: center;
    font-weight: 500;
    font-size: 2.5em;
}

img {
    max-width: 10em;
}

.pokemon_container {
    display: flex;
    flex-wrap: wrap;
    align-items: space-between;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
}

.pokemon_card {
    background-color: rgb(214, 214, 214);
    border: 10px;
    border-radius: .3em;
    margin: .2em;
}

.pokemon_name {
    text-align: center;
    font-weight: 400;
    margin-bottom: .8em;
}

.pokemon_number {
    text-align: center;
    font-size: 0.8em;
    font-weight: 600;
}

.show_modal.btn {
    display: inherit;
    background-color: blueviolet;
    border: none;
    margin: 0 auto;
    margin-bottom: .8em;
}

.modal-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

.modal-list-title {
    text-transform: capitalize;
    font-weight: 600;
}